@use "functions" as f;

/*@mixin fullwidth {
  color: var(--text-light);
  text-align: center;

  &__description {
    margin-block-end: f.rem(40);
    margin-inline: auto;
    max-width: 70ch;
  }
}*/
