:root {
  --main-bg: hsl(0, 0%, 100%);
  --text-dark: hsl(233, 14%, 25%);
  --text-light: hsl(0, 0%, 100%);
  --text-link-hover: hsla(320, 85%, 41%, 1);
  --header-bg: rgb(35, 35, 46);
  --hero-bg: hsl(232, 58%, 55%);
  --button-primary-bg: #76b2d6;
  --button-primary-bg-hover: #5d8db1;
  --button-primary-white-bg: hsl(0, 0%, 100%);
  --button-primary-white-bg-hover: hsl(0, 0%, 90%);
  --button-primary-text: hsl(233, 14%, 25%);
  --button-secondary-bg: transparent;
  --button-secondary-bg-hover: hsl(0, 0%, 100%);
  --button-secondary-border: hsl(0, 0%, 100%);
  --button-secondary-text: hsl(0, 0%, 100%);
  --button-secondary-text-hover: var(--hero-bg);
  --fullwidth-bg: #ee84a7;
  --gradient1: hsl(233, 14%, 25%);
  --gradient2: hsl(232, 58%, 55%);
  --gradient3: hsl(180, 100%, 42%);
}

.magenta {
  background-color: hsl(300, 100%, 30%);
}

.green {
  background-color: hsl(120, 100%, 27%);
}
