@use "../util" as u;

.hero {
  background-color: var(--header-bg);
  color: var(--text-light);

  &__carousel {
    animation: changeBackground 20s infinite;
  }

  @keyframes changeBackground {
    0% {
      background-color: rgba(0, 0, 0, 0.25);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-image: url(../img/red_white_all-in-one.jpg);
    }
    25% {
      background-color: rgba(0, 0, 0, 0.25);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-image: url(../img/IMG_3060_blackwhite_tent.jpg);
    }
    50% {
      background-color: rgba(0, 0, 0, 0.25);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-image: url(../img/white-pink_tent.jpg);
    }
    75% {
      background-color: rgba(0, 0, 0, 0.25);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-image: url(../img/IMG_3064_numbered_blackwhite_tent.jpg);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.25);
      background-blend-mode: darken;
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      background-image: url(../img/red_white_all-in-one.jpg);
    }
  }

  &__wrapper {
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-block: 30px 60px;
    gap: 40px;

    @include u.breakpoint(large) {
      padding-block: 40px 80px;
      //flex-direction: row-reverse;
      grid-template-columns: 6fr 5fr;

      gap: 10%;
    }

    @include u.breakpoint(medium) {
      padding-block: 40px 80px;
      grid-template-columns: 6fr 5fr;

      gap: 10%;
    }
  }

  &__image {
    width: 61%;
    max-width: u.rem(483);
    //margin-block-end: u.rem(40);
    //width: u.rem(200);
    //@include u.breakpoint(large) {
    //  width: u.rem(483);
    //}

    @include u.breakpoint(large) {
      //flex: 5;
      order: 2;
      width: 100%; //for grid desktop layout
    }

    @include u.breakpoint(medium) {
      //flex: 5;
      order: 2;
      width: 61%; //for grid tablet layout
    }
  }

  &__container {
    width: 61%;
    height: 243px;
    max-width: u.rem(483);
    //margin-block-end: u.rem(40);
    //width: u.rem(200);
    //@include u.breakpoint(large) {
    //  width: u.rem(483);
    //}

    @include u.breakpoint(large) {
      //flex: 5;
      order: 2;
      width: 483px;
      height: 486px; //for grid desktop layout
    }

    @include u.breakpoint(medium) {
      //flex: 5;
      order: 2;
      width: 273px;
      height: 486px; //for grid tablet layout
    }
  }

  &__text {
    @include u.breakpoint(large) {
      //flex: 6;
    }
  }

  &__title {
  }
  &__content {
  }
  &__button {
    &:first-of-type {
      margin-inline-end: 20px;
    }
  }
}
